@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

$color-white: #fff;
$color-gray-lightest: #f7f7f7;
$color-gray-light: #eaeaea;
$color-gray-dark: #afafaf;
$color-gray-darkest: #9b9b9b;
$color-orange: #ff8f32;

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}

/* Display */

.calculator {
  background: $color-gray-light;
  width: 300px;
  height: 450px;
  border-radius: 12px;

  .calculator-display {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 100%;

    h1 {
      color: $color-orange;
      margin: 0;
      padding: 25px;
      font-size: 45px;
      font-weight: 500;
      overflow-x: auto;
    }

    /* Custom Scrollbar */
    ::-webkit-scrollbar {
      width: 5px;
    }

    ::-webkit-scrollbar-track {
      background: $color-gray-lightest;
    }

    ::-webkit-scrollbar-thumb {
      background: $color-gray-dark;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: $color-gray-darkest;
    }
  }
}

/* Buttons */

.calculator-buttons {
  display: grid;
  place-items: center;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;

  button {
    min-height: 50px;
    width: 50px;
    font-size: 2.5rem;
    font-weight: 100;
    color: $color-gray-dark;
    border: none;
    border-radius: 50%;
    box-shadow: inset 0 25px 4px -22px rgba(255, 255, 255, 0.4),
      5px 5px 5px -5px rgba(0, 0, 0, 0.6);
    cursor: pointer;

    &:hover {
      filter: brightness(110%);
    }

    &:active {
      transform: translateY(1px);
    }

    &:focus {
      outline: none;
    }

    &.orange {
      font-size: 3.5rem;
      color: $color-white;
      background: $color-orange;
      box-shadow: none;

      &.backspace {
        font-size: 2.3rem;
      }

      &:hover {
        filter: brightness(130%);
      }
    }
  }
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
